*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.dice-game-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    height: 50px;
    width: 100px;
}
.win{
    background-color: rgb(77, 224, 77);

}
.lose{
    background-color: rgb(211, 68, 68);
}

.draw{
    background-color: rgb(221, 221, 221);
}

.message{
    width: 200px;
}

.results{
    text-align: center;
}